%icon-size {
  width: 16px;
  height: 16px;
}

%default_container {
  border-radius: 5px;
  box-shadow: 0px 0px 10px #7F7F7F33;
  background-color: var(--white);
  color: var(--dark-gray);
  padding: .5em 1em;
}

.icon_default {
  @extend %icon-size;
  fill: var(--dark-gray);
  &:not(:disabled):active{
    fill:var(--white);
  }
}

.inverted_icon {
  @extend %icon-size;
  fill: var(--white);
}
