// @font-face{
//   font-family: 'Lato-regular';
//   src: url('./fonts/lato/Lato-regular.ttf') format('woff');
// }
:root {
  --red: hsl(357, 63%, 59%);
  --white: hsl(210, 100%, 100%);
  --dark-gray: hsl(240, 9%, 44%);
  --light-gray: hsl(240, 11%, 64%);
  --light-blue:	hsl(240, 44%, 96%);

  // btn
  --btn-border: 0;
  --btn-border-radius: 0.3em;
  --btn-box-shadow: 0 0 8px hsla(0, 0%, 0%, 0.3);

  //Text style
  --text-size: 12px;
  --title: 20px;
  --page-title: 42px;

}
